<style>
    footer {
        background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
        text-align: center;
        padding: 20px;
        color: var(--gray-color);
        font-size: 0.85rem;
        margin-top: 40px;
    }
</style>

<footer>
    <div class="containers">
        <p>© 2025 www.koreanshort.com Copyright | Daily updates of popular short drama resources | <a style="color: rgb(162, 240, 240);text-decoration:none;" href="https://www.findshortdrama.com/">大陆短剧</a></p>
    </div>
</footer>